.main__content {
    background-image: url('../assets/bg@1x.png');
    max-width: 630px;
    min-width: min-content;
    height: 331px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}